.list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.item{
    border: 1px solid;
   border-radius: 5px;
   padding: 6px;
}
.error{
    color: red;
    font-size: 32px;
    text-align: center;
}